body,p,li {
   font-family: "Arial",Verdana,Arial,Helvetica;
   font-size: 14px;
   line-height: 150%;
   color: #666;
}

.xmlSample {
	padding: 10px; 
	margin: auto; 
	border: solid 1px #0a0a0; 
	background-color: #f0f0f0; 
	font-size: 10pt;
	color: #666;
	background-color: #f0f0f0;
    border: solid 1px #d0d0d0;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

body {
//   background-color: #d0d0d0;
//   background-image: url('../images/header_bg.jpg' );
   background-image: url('../images/rasen.jpg' );
}

a, a:visited, .sidebarItemBody a, .sidebarItemBody a:visited, #contentBox a, #contentBox a:visited {
	color: blue;
	text-decoration: none;
}

.note {
	border: solid 1px rgb(230,187,47);
	background-color: rgb(233,224,192);
}

.body {
   background-color: white;
   margin: auto;
}

.contentBox {
   padding-top: 14px;
}

#banner {
   background-image: none;
   margin-top: 40px;
   height: 80px;
}

#header {
   display: none;
}

#bodyColumn {
   margin-left: 260px;
//   padding-top: 10px;
}

table th {
    background-color: #e0e0e0;
    font-weight: bold;
    color: #a0a0a0;
}

table {
    border: solid 1px #a0a0a0;
}

td {
    text-align: center;
}


h1,h2,h3,h4,h5 {
   font-family: "Arial",Verdana,Arial,Helvetica;
   color: #444;
}

h1 {
   font-size: 24px;
   margin-left: 6px;
}

h2 {
   font-size: 18px;
   margin-top: 40px;
   border: none;
   margin-left: 6px;
}

h3 {
   font-size: 16px;
   margin-left: 6px;
   margin-top: 25px;
}

p {
    margin-left: 6px;
}

.sidebar {
   width: 220px;
}

#banner {
   height: 80px;
}

li.expanded {
	margin-left: 8px;
	padding-left:0px;
}

li:hover {
//	list-style-type: circle;
}

li.expanded strong, li.none strong {
	font-weight: bold;
}

.sidebarItemBody a {
	color: #888;
}

.figure {

   margin: auto;
   text-align: center;
   width: 80%;
}

.figure p {
   margin: auto;
}



#banner {
  background-image: none;
  border-bottom: 1px solid #fff;
  height: 60px;
  padding: 10px;
  margin-bottom: 20px;
}

#header {
  background-image: url('../images/header_bg.jpg');
  height: 80px;
}

#bannerRight {
    float: right;
}

#logoLeft {
    margin: 20px;
}

#logoRight {
    margin: 10px;
    margin-right: 20px;
}

#logoLeft, #logoRight {
//    visibility: hidden;
}

.clear hr {
    visibility: hidden;
}

.caption {
	margin-top: 4px;
}
